<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/css/display.css" type="text/css">
<div class="uk-section">
	<div class="uk-container">
		<% if(success) {%>
		<div class="d-flex justify-content-center">
			<div class="alert alert-success alert-dismissible" style="width: 80%;">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong><%= success %></strong>
			</div>
		</div>
		<% } %>
		<% if(error) {%>
		<div class="d-flex justify-content-center">
			<div class="alert alert-danger alert-dismissible" style="width: 80%;">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong><%= error %></strong>
			</div>
		</div>
		<% } %>
		<h2 class="uk-h1 uk-text-center">
			<i class="fas fa-dashboard"></i> Manage Employees
		</h2>
		<p class="uk-text-lead uk-text-center">
			Manage your stuff with Paperless. <br><br>
			<span class="fa fa-search" style="z-index: 1!important; margin-left:1%; font-size: 1.3vw;"></span>
			<input type="text" class="searchEmployee" placeholder="Search here....." name="" id="searchEmp">
		</p>
		<br />
		<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Gender</th>
					<th>Address</th>
					<th>Operations</th>
				</tr>
			</thead>
			<tbody id="tablebody">
				<% if(emp){
						for(let i = 0; i < emp.length; i++) {  %>
				<tr>
					<td><%= emp[i].voterId.name %></td>
					<td><%= emp[i].email%></td>
					<td><%= emp[i].voterId.gender %></td>
					<td><%=	emp[i].voterId.address %></td>
					<td>
						<a href="/employee/<%= emp[i].id %>">
							<span class="fa fa-eye fa-lg eye"></span>
						</a>&nbsp;
						<a onclick="return deleteConfirm();" href="/employees/<%= emp[i].id %>">
							<span class="fa fa-trash fa-lg trash"></span>
						</a>
					</td>
				</tr>
				<% }
				} %>
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<% if (meta.pageCount > 0) { %>
                <ul id="pageul" class="pagination text-center">
                    <% if (meta.currentPage == 1) { %>
                        <li id="prev" class="disabled"><a>Previous</a></li>
                    <% } else { %>
                        <li id="prev"><a href="/employees?page=<%= meta.currentPage - 1 %>">Previous</a></li>
                    <% } %>
                    <% var i = (Number(meta.currentPage) > 5 ? Number(meta.currentPage) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li id="prevmiddle" class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(meta.currentPage) + 4) && i <= meta.pageCount; i++) { %>
                        <% if (i == meta.currentPage) { %>
                            <li id="middle" class="active-page"><a><%= i %></a></li>
                        <% } else { %>
                            <li id="middle"><a href="/employees?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(meta.currentPage) + 4 && i < meta.pageCount) { %>
                            <li id="middlenext" class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (meta.currentPage == meta.pageCount) { %>
                        <li id="next" class="disabled"><a>Next</a></li>
                    <% } else { %>
                        <li id="next"><a href="/employees?page<%= meta.currentPage + 1 %>">Next</a></li>
                    <% } %>
                </ul>
            <% } %>
		</div>
	</div>
</div>
</script>