<link rel="stylesheet" href="/css/edit-employee.css">
<div class="container">
  <div class="uk-section">
    <div class="uk-container">
      <% if(success) {%>
      <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible" style="width: 80%;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= success %></strong>
        </div>
      </div>
      <% } 
    if(error) {%>
      <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible" style="width: 80%;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= error %></strong>
        </div>
      </div>
      <% } %>
      <div class="d-flex justify-content-center h-100">
        <br />
        <div class="row" style="width: 80%;">
          <form class="form" action="/employee/<%= emp.id %>" id="updateEmployee" method="post">
            <% if (emp) { %>
            <div class="col-sm-12 col-lg-3" style="margin-bottom:4%;;">
              <div class="text-center">
                <img src="/images/images.jpeg" class="avatar img-circle img-thumbnail" alt="person">
              </div>
              <br />
              <div class="col-md-12 col-sm-12 col-xs-12">
                <input type="text"
                  style="text-align: center; font-weight: 700; border:none; box-shadow: 0 0 3px #4DC996;"
                  class="form-control" name="name" value="<%=emp.voterId.name%>" id="name" disabled>
                <button class="btn btn-basics" style="margin-top:12%; width:100%;" onclick="return enableEdit();"><span
                    class="fa fa-edit"> EDIT</span></button>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <br>
                <input type="hidden" id="category" value="<%= emp.Employee_category %>">
                <ul class="list-group" style="font-size: 12px;">
                  <li class="list-group-item text-muted" style="text-align:center; font-size: 16px;"><span
                      class="fa fa-info-circle"> Info</span></li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Created By</strong></span>
                    <%= emp.createdBy%></li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Modified
                        By</strong></span><%= emp.modifiedBy%> </li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Category</strong></span>
                    <%= emp.Employee_category%></li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Active</strong></span>
                    <% if (emp.isActive == true) {%>
                    <input type="hidden" name="isActive" id="hiddenStatus" value="<%=emp.isActive %>">
                    <input type="hidden" name="isActive" id="hiddenId" value="<%=emp.id %>">
                    <a onclick="setStatus();">
                      <i id="idToggle" class="fa fa-toggle-on fa-2x actionOn"></i>
                    </a>
                    <% } else { %>
                    <input type="hidden" name="isActive" id="hiddenStatus" value="<%=emp.isActive %>">
                    <input type="hidden" name="isActive" id="hiddenId" value="<%=emp.id %>">
                    <a onclick="setStatus();">
                      <i id="idToggle" class="fa fa-toggle-off fa-2x actionOff"></i>
                    </a>
                    <% } %>
                  </li>
                </ul>
              </div>
            </div>
            <br>
            <div class="col-sm-12 col-md-12 col-lg-9 ">
              <ul class="nav nav-tabs" style="display: inline!important;">
                <li class="active"><a data-toggle="tab" href="#personal">
                    <p> <span class="fa fa-user"></span> Personal Details</p>
                  </a></li>
                <li><a data-toggle="tab" href="#educational">
                    <p> <span class="fa fa-graduation-cap"></span> Educational Details</p>
                  </a></li>
                <% if(emp.Employee_category == 2) {%>
                <li><a data-toggle="tab" href="#professional">
                    <p> <span class="fa fa-briefcase"></span> Professional Details</p>
                  </a></li>
                <% }%>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="personal">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="email">
                          <h4>Email<span class="error">*</span></h4>
                        </label>
                        <input type="email" class="form-control" name="email" id="email" value="<%= emp.email%>"
                          disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="email">
                          <h4>Aadhar Number<span class="error">*</span></h4>
                        </label>
                        <input type="number" value="<%= emp.aadhar.aadhar_no %>" class="form-control" name="aadhar_no"
                          id="aadhar_no" disabled>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="">
                          <h4>Date Of Birth<span class="error">*</span></h4>
                        </label>
                        <input type="date" name="dob" id="dob" class="form-control" value="<%= emp.voterId.dob%>"
                          disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="epicno">
                          <h4>Pan Card Number<span class="error">*</span></h4>
                        </label>
                        <input type="text" value="<%= emp.pancard.pan_no %>" class="form-control" name="pan_no"
                          id="pan_no" disabled>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="">
                          <h4>Gender<span class="error">*</span></h4>
                        </label>
                        <h4 style="margin:0; font-weight: 300;">
                          <% if(emp.voterId.gender == 'Male') { %>
                          <input type="radio" name="gender" checked="true" style="margin:0;" value="Male"> Male
                          <input type="radio" name="gender" value="Female"> Female
                          <% }if(emp.voterId.gender == 'Female'){ %>
                          <input type="radio" name="gender" style="margin:0;" value="Male" disabled> Male
                          <input type="radio" name="gender" checked="true" value="Female" disabled> Female
                          <% } %>
                        </h4>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="epicno">
                          <h4>EPIC Number<span class="error">*</span></h4>
                        </label>
                        <input type="text" value="<%= emp.voterId.epicno %>" class="form-control" id="epicno"
                          name="epicno" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="mobile">
                          <h4>Mobile<span class="error">*</span></h4>
                        </label>
                        <input type="number" class="form-control" id="mobile_no" name="mobile_no"
                          value="<%= emp.mobile_no %>" disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="epicno">
                          <h4>Passport Number</h4>
                        </label>
                        <input type="text" value="<%= emp.passport.passport_no %>" class="form-control"
                          name="passport_no" id="passport_no" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="address">
                          <h4>Address<span class="error">*</span></h4>
                        </label>
                        <textarea class="form-control" id="address" name="address" rows="8"
                          disabled><%= emp.voterId.address %></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="epicno">
                          <h4>Passport Issue Date</h4>
                        </label>
                        <input type="date" value="<%= emp.passport.issue_date %>" class="form-control" id="issue_date"
                          name="issue_date" disabled>
                      </div>
                      <div class="col-xs-12 col-lg-6" style="margin: 2% 0 0 ;">
                        <label for="expiredate">
                          <h4>Passport Expiry Date</h4>
                        </label>
                        <input type="date" value="<%= emp.passport.expire_date %>" class="form-control"
                          name="expire_date" id="expire_date" disabled>
                      </div>
                      <div class="col-xs-12 col-lg-6" style="margin: 2% 0 0 ;">
                        <label for="fileno">
                          <h4>File No</h4>
                        </label>
                        <input type="number" value="<%= emp.passport.passport_fileno %>" class="form-control"
                          name="passport_fileno" id="passport_fileno" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="educational">
                  <div class="col-lg-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="university">
                          <h4>University<span class="error">*</span></h4>
                        </label>
                        <input type="text" value="<%= emp.degree.university_name %>" class="form-control"
                          name="university_name" id="university_name" disabled>
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="college">
                          <h4>College<span class="error">*</span></h4>
                        </label>
                        <input type="text" placeholder="VGEC" class="form-control" name="college_name" id="college_name"
                          value="<%= emp.degree.college_name %>" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="enno">
                          <h4>Enrollment Number<span class="error">*</span></h4>
                        </label>
                        <input type="text" class="form-control" name="enrollment_no" id="enrollment_no"
                          value="<%= emp.degree.enrollment_no %>" disabled>
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="collegelocation">
                          <h4>College Location<span class="error">*</span></h4>
                        </label>
                        <input type="text" class="form-control" name="college_place" id="college_place"
                          value="<%= emp.degree.college_place %>" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="class">
                          <h4>Class<span class="error">*</span></h4>
                        </label>
                        <input type="text" class="form-control" name="grade" id="grade" value="<%= emp.degree.grade %>"
                          disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <% if(emp.salarySlip && emp.experience) {%>
                <div class="tab-pane" id="professional">
                  <div class="col-lg-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="salary">
                          <h4>Salary<span class="error">*</span></h4>
                        </label>
                        <input type="text" name="salary" id="salary" value="<%= emp.salarySlip.salary %>"
                          class="form-control" disabled>
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="company">
                          <h4>Company Name<span class="error">*</span></h4>
                        </label>
                        <input type="text" class="form-control" id="company_name" name="company_name"
                          value="<%= emp.experience.company_name %>" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="joindate">
                          <h4>Joined Date<span class="error">*</span></h4>
                        </label>
                        <input type="date" class="form-control" name="joining_date" id="joining_date"
                          value="<%= emp.experience.joining_date %>" disabled>
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="resigndate">
                          <h4>Resigned Date<span class="error">*</span></h4>
                        </label>
                        <input type="date" class="form-control" name="resign_date" id="resign_date"
                          value="<%= emp.experience.resign_date %>" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="companyemail">
                          <h4>Company's Email<span class="error">*</span></h4>
                        </label>
                        <input type="email" class="form-control" name="company_email" id="company_email"
                          value="<%= emp.experience.company_email %>" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <%}%>
              <div class="form-group">
                <div class="col-xs-12">
                  <br>                  
                  <button type="submit" class="btn btn-lg btn-success btn-save" id="submit" disabled><i
                      class="glyphicon glyphicon-ok-sign"  ></i>
                    Save</button>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>