<link rel="stylesheet" href="/css/edit-employee.css">
<div class="container">
  <div class="uk-section">
    <div class="uk-container">      
      <div class="d-flex justify-content-center h-100">
        <br />
        <div class="row" style="width: 80%;">
          <form class="form" action="/employee/create" id="createEmployee" method="post">
            <% if (obj) { %>
            <div class="col-sm-12 col-lg-3" style="margin-bottom:4%;;">
              <div class="text-center">
                <img src="<%= obj.photo.replace('src/public','') %>" class="avatar img-circle img-thumbnail"
                 alt="person">
              </div>
              <br />
              <div class="col-md-12 col-sm-12 col-xs-12">
                <input 
                  type="text"
                  class="form-control txtName" name="name" value="<%=obj.name%>"
                   id="name" />
              </div>
            </div>
            <br />
            <div class="col-sm-12 col-md-12 col-lg-9 ">
              <ul class="nav nav-tabs" style="display: inline!important;">
                <li class="active">
                  <a data-toggle="tab" href="#personal">
                    <p>
                      <span class="fa fa-user"></span> Personal Details
                    </p>
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#educational">
                    <p>
                      <span class="fa fa-graduation-cap"></span> Educational Details
                    </p>
                  </a>
                </li>       
                <% if(obj.salary || obj.resignationDate) { %> 
                <li>
                  <a data-toggle="tab" href="#professional">
                    <p>
                      <span class="fa fa-briefcase"></span> Professional Details
                    </p>
                  </a>
                </li>        
              <% } %>       
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="personal">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="email">
                          <h4>Email<span class="required-field">*</span></h4>
                        </label>
                        <input type="email" class="form-control" name="email" 
                        id="email" value="<%= obj.email %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="email">
                          <h4>Aadhar Number<span class="required-field">*</span></h4>
                        </label>
                        <input type="number" value="<%= obj.aadhar %>" 
                        class="form-control" name="aadhar_no" id="aadhar_no" />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="">
                          <h4>Date Of Birth<span class="required-field">*</span></h4>
                        </label>
                        <input type="date" name="dob" class="form-control" 
                         id="dob" value="<%= obj.dob%>">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="epicno">
                          <h4>Pan Card Number<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" value="<%= obj.panNo %>" 
                         class="form-control" name="pan_no" id="pan_no" />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="">
                          <h4>Gender<span class="required-field">*</span></h4>
                        </label>
                        <h4 style="margin:0; font-weight: 300;">
                          <% if(obj.gender == 'Male') { %>
                          <input type="radio" name="gender" checked="true" 
                           style="margin:0;" value="Male"> Male
                          <input type="radio" name="gender" value="Female"> Female
                          <% }else if(obj.gender == 'Female'){ %>
                          <input type="radio" name="gender" style="margin:0;" 
                           value="Male"> Male
                          <input type="radio" name="gender" checked="true" 
                           value="Female"> Female
                          <% } else { %>
                            <!-- In case of vision can not detect gender properly -->
                            <input type="radio" name="gender" style="margin:0;" 
                           value="Male" /> Male
                          <input type="radio" name="gender" 
                           value="Female" /> Female
                          <% } %>
                        </h4>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="epicno">
                          <h4>EPIC Number<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" value="<%= obj.voterId %>" class="form-control" id="epicno"
                          name="epicno">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="mobile">
                          <h4>Mobile<span class="required-field">*</span></h4>
                        </label>
                        <input type="number" class="form-control" id="mobile_no" name="mobile_no"
                          value="<%= obj.mobile %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="epicno">
                          <h4>Passport Number</h4>
                        </label>
                        <input type="text" value="<%= obj.passportNo %>" class="form-control"
                          name="passport_no" id="passport_no">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="address">
                          <h4>Address<span class="required-field">*</span></h4>
                        </label>
                        <textarea class="form-control" id="address" name="address"
                          rows="8"><%= obj.address %></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-lg-6">
                        <label for="epicno">
                          <h4>Passport Issue Date</h4>
                        </label>
                        <input type="date" value="<%= obj.issueDate %>" class="form-control" 
                        id="issue_date" name="issue_date">
                      </div>
                      <div class="col-xs-12 col-lg-6" style="margin: 2% 0 0 ;">
                        <label for="expiredate">
                          <h4>Passport Expiry Date</h4>
                        </label>
                        <input type="date" value="<%= obj.expiryDate %>" class="form-control"
                          name="expire_date" id="expire_date">
                      </div>
                      <div class="col-xs-12 col-lg-6" style="margin: 2% 0 0 ;">
                        <label for="fileno">
                          <h4>File No</h4>
                        </label>
                        <input type="text" value="<%= obj.fileNo %>" class="form-control"
                          name="passport_fileno" id="passport_fileno">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="educational">
                  <div class="col-lg-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="university">
                          <h4>University<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" value="" class="form-control"
                          name="university_name" id="university_name">
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="college">
                          <h4>College<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" placeholder="VGEC" class="form-control" 
                         name="college_name" id="college_name"
                         value="<%= obj.collegeName %>" />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="enno">
                          <h4>Enrollment Number<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" class="form-control" name="enrollment_no"
                         id="enrollment_no" value="">
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="collegelocation">
                          <h4>College Location<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" class="form-control" name="college_place"
                         id="college_place" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="class">
                          <h4>Class<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" class="form-control" 
                         style="text-transform: capitalize;"
                         name="grade" id="grade" value="<%= obj.degreeClass %>">
                      </div>
                    </div>
                  </div>
                </div>                
                <div class="tab-pane" id="professional">
                  <div class="col-lg-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="salary">
                          <h4>Salary<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" name="salary" id="salary" value="<%= obj.salary %>"
                          class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="company">
                          <h4>Company Name<span class="required-field">*</span></h4>
                        </label>
                        <input type="text" class="form-control" id="company_name"
                         name="company_name" value="<%= obj.companyName %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="joindate">
                          <h4>Joined Date<span class="required-field">*</span></h4>
                        </label>
                        <input type="date" class="form-control"
                          name="joining_date" id="joining_date"
                          value="<%= obj.doj %>">
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="resigndate">
                          <h4>Resigned Date<span class="required-field">*</span></h4>
                        </label>
                        <input type="date" class="form-control" 
                          name="resign_date" id="resign_date"
                          value="<%= obj.resignationDate %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xs-12">
                    <div class="col-xs-12 col-lg-6">
                      <div class="form-group">
                        <label for="companyemail">
                          <h4>Company's Email</h4>
                        </label>
                        <input type="email" class="form-control" 
                          name="company_email" id="company_email"
                          value="" />
                      </div>
                      <input type="hidden" name="path" value="<%= path %>" />
                      <input type="hidden" name="catid" value="<%= catid %>">
                    </div>
                  </div>
                </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <br />                  
                  <button type="submit" class="btn btn-lg btn-success btn-save"><i
                      class="glyphicon glyphicon-ok-sign"></i>
                    Save</button>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>