
<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-h1 uk-text-center">
      <i class="fas fa-plus-circle"></i> Create Employee Category
    </h2>
    <br>
    <div class="d-flex justify-content-center">
      <div class="card" style="border:none">
        <% if (successMsg) {%>
        <div class="alert alert-success alert-dismissible" role="alert">
          <%= successMsg%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%} else if(errorMsg) {%>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <%= errorMsg%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%}%>
        <form method="POST" class="formAdmin" id="createEmployeeCategory" action="">
          <div class="form-row" id="addAdmin">
            <div class="form-group col-md-12">
              <label for="inputEmpCategory">Employee Category</label>
              <input type="text" class="form-control" name="empCategory" id="EmpCategory" />
            </div>
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary col-md-5 btnAdd">Add</button>
              <button type="reset" class="btn btn-danger col-md-5" style="float: right;">Cancel</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>