<style>
  .error {
    color: red;
  }
</style>
<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-h1 uk-text-center">
      <i class="fas fa-user"></i> Create Admin
    </h2>
    <br>
    <div class="d-flex justify-content-center">
      <div class="card" style="border:none">
        <% if (successMsg) {%>
        <div class="alert alert-success alert-dismissible" role="alert">
          <%= successMsg%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%} else if(errorMsg) {%>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <%= errorMsg%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%}%>
        <form method="POST" class="formAdmin" id="createAdmin" action="1/create/subadmin">
          <div class="form-row" id="addAdmin">
            <div class="form-group col-md-12">
              <label for="inputFirstName">First Name</label>
              <input type="text" class="form-control" name="firstName" id="FirstName" />
            </div>
            <div class="form-group col-md-12">
              <label for="inputLastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" id="LastName" />
            </div>
            <div class="form-group col-md-12">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" name="email" id="Email" />
            </div>
            <div class="form-group col-md-12">              
              <input type="hidden" class="form-control" name="role" value="2" />
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" name="password" id="Password" />
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Confirm Password</label>
              <input type="password" class="form-control" id="CPassword" />
            </div>
            <div class="form-group col-md-12">              
              <input type="hidden" class="form-control" name="isActive" value="true" />
            </div>
            <div class="form-group col-md-12">
              <label for="inputZip">Mobile</label>
              <input type="tel" class="form-control" name="contact" id="Mobile" />
            </div>
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary col-md-5 btnAdd">Add</button>
              <button type="reset" class="btn btn-danger col-md-5" style="float: right;">Cancel</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>