<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  
<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-h1 uk-text-center">
      <i class="fas fa-dashboard"></i> Dashboard
    </h2>
    <p class="uk-text-lead uk-text-center">
      Manage your stuff with Paperless
</p>
     
    <div
      class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top"
      data-uk-grid="">
      <div>
        <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover 
        uk-card-body uk-inline border-radius-large border-xlight">
          <a class="uk-position-cover" href="/employees?page=1"></a>
          <span data-uk-icon="icon:users; ratio: 3.4"></span>
          <h3 class="uk-card-title uk-margin">
            Manage Employees
          </h3>
          <p>
            View all employees and edit their details.
          </p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
          <% if(session.role == 1) {%>
          <a class="uk-position-cover" href="/api/admin/subAdmin"></a>
          <% } else {%>
            <a class="uk-position-cover disable" href="#"></a>
          <%  }%>
          <span data-uk-icon="icon: settings; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">Create Admin</h3>
          <p>
            Create admins to ease your work.
          </p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
          <a class="uk-position-cover" href="#"></a>
          <span data-uk-icon="icon: unlock; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">Manage Profile</h3>
          <p>
            Handle your profile by changing your username, password and more..
          </p>
        </div>
      </div>
    </div>
    <div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top" data-uk-grid="">
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
          <% if(session.role == 1) {%>
          <a class="uk-position-cover" href="/api/admin/admins"></a>
          <% } else {%>
            <a class="uk-position-cover disable" href="#"></a>
          <% }%>
          <span data-uk-icon="icon: info; ratio: 3.4"></span>
          <h3 class="uk-card-title uk-margin">Manage Admins</h3>
          <p>
            <p>
            Manage all admins and their details.
          </p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
          <a class="uk-position-cover" href="/api/admin/category"></a>
          <span data-uk-icon="icon:  plus-circle; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">Add Employee Category</h3>
          <p>
            Create new employee's category to handle all Employee.
          </p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
          <a class="uk-position-cover" href="/api/admin/document"></a>
          <span data-uk-icon="icon: file-edit; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">Add Document Category</h3>
          <p>Add new document category to manage all documents.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>