<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-h1 uk-text-center">
      <i class="fas fa-user"></i> Fresher Employee
    </h2>
    <br />
    <div class="d-flex justify-content-center">
      <div class="card" style="border:none">
        <form
          method="POST"
          class="formAdmin"
          accept="image/jpg, image/png, image/jpeg"
          action="/preview"
          enctype="multipart/form-data"
        >
          <div class="form-row">
            <% if(data) {
              for(let i = 0; i < data.length; i++) {
                if(data[i].name === 'Photo') { %>
            <div class="form-group col-md-12">
              <label class="control-label">
                <%= data[i].name %> :
              </label>
              <br /><br />
              <input
                style="padding-bottom: 10px;"
                type="file"
                id="photo"
                accept="image/jpg, image/png, image/jpeg"
                class="form-control"
                name="<%= data[i].name %>"
                required
              />
              <span id="spanphoto"> </span>
              <input type="hidden" name="photo" value="<%= data[i].id %>">
            </div>
            <% } else if (data[i].name === 'Aadhar') {%>
            <div class="form-group col-md-12">
              <label class="control-label">
                <%= data[i].name %> :
              </label>
              <br /><br />
              <input
                style="padding-bottom: 10px;"
                type="file"
                accept="image/jpg, image/png, image/jpeg"
                id="aadhar"
                class="form-control"
                name="<%= data[i].name %>"
                required
              />
              <span id="spanaadhar"> </span>
              <input type="hidden" name="aadhar" value="<%= data[i].id %>">
            </div>
            <% } else if (data[i].name === 'PAN Card') {%>
            <div class="form-group col-md-12">
              <label class="control-label">
                <%= data[i].name %> :
              </label>
              <br /><br />
              <input
                style="padding-bottom: 10px;"
                type="file"
                accept="image/jpg, image/png, image/jpeg"
                id="pancard"
                class="form-control"
                name="<%= data[i].name %>"
                required
              />
              <span id="spanpancard"> </span>
              <input type="hidden" name="pancard" value="<%= data[i].id %>">
            </div>
            <% } else if (data[i].name === 'Passport') {%>
            <div class="form-group col-md-12">
              <label class="control-label">
                <%= data[i].name %> :
              </label>
              <br /><br />
              <input
                style="padding-bottom: 10px;"
                type="file"
                multiple
                accept="image/jpg, image/png, image/jpeg"
                id="passport"
                class="form-control"
                name="<%= data[i].name %>"
              />
              <span id="spanpassport"> </span>
              <input type="hidden" name="passport" value="<%= data[i].id %>">
              <input type="hidden" name="passport-back" value="<%= data[i].id %>">
            </div>            
            <% } else if (data[i].name === 'Voter Id') { %>
            <div class="form-group col-md-12">
              <label class="control-label">
                <%= data[i].name %> :
              </label>
              <br /><br />
              <input
                style="padding-bottom: 10px;"
                type="file"
                accept="image/jpg, image/png, image/jpeg"
                multiple
                id="freshersvoterid"
                class="form-control"
                name="<%= data[i].name %>"
                required
              />
              <span id="spanfreshersvoterid"> </span>
              <input type="hidden" name="voterid" value="<%= data[i].id %>">
              <input type="hidden" name="voterid-back" value="<%= data[i].id %>">

            </div>
            <% } else if (data[i].name === 'Degree') { %>
            <div class="form-group col-md-12">
              <label class="control-label">
                <%= data[i].name %> :
              </label>
              <br /><br />
              <input
                style="padding-bottom: 10px;"
                type="file"
                accept="image/jpg, image/png, image/jpeg"
                multiple
                id="degree"
                class="form-control"
                name="<%= data[i].name %>"
                required
              />
              <span id="spandegree"> </span>
              <input type="hidden" name="degree" value="<%= data[i].id %>">
            </div>           
            <% }
          }%>
          <div class="form-group col-md-12">
              <label class="control-label">
                Mobile :
              </label>
              <br /><br />
              <input
                style="padding-bottom: 10px;"
                type="text"
                class="form-control"
                name="Mobile"
                required
              />
              <span  style="color: red;"></span>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">
                Email :
              </label>
              <br /><br />
              <input
                style="padding-bottom: 10px;"
                type="email"
                id="freshers"
                class="form-control"
                name="Email"
                required
              />
              <span style="color: red;"></span>
            </div>
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary col-md-5 btnAdd">
                Add</button
              >&nbsp;&nbsp;
              <button
                type="reset"
                class="btn btn-danger col-md-5"
                style="float: right;">
                Cancel
              </button>
            </div>
            <% } %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>