<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Paperless</title>
    <meta name="generator" content="Jekyll v3.8.5" />
    <meta property="og:title" content="Docs" />
    <meta name="author" content="Pete Seth" />
    <meta property="og:locale" content="en" />
    <meta name="description" content="Documentation Jekyll theme." />
    <meta property="og:description" content="Documentation Jekyll theme." />
    <link rel="canonical" href="index.html" />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="Docs" />

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    </script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/validation.js"></script>
    <script src="/js/employeeValidation.js"></script>
    <script src="/js/scripts.js"></script>
  </head>

  <body>
    <% if(session != "") { %>

    <header class="uk-background-center-center uk-background-cover">
      <div class="uk-overlay-header">
        <div
          data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container;
  cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200" >
          <nav class="uk-navbar-container">
            <div class="uk-container">
              <div data-uk-navbar>
                <div class="uk-navbar-left">
                  <a class="uk-navbar-item uk-logo uk-visible@m"href="index.html">
                    Paperless
                  </a>
                  <ul class="uk-navbar-nav uk-visible@m">
                    <li class="uk-active">
                      <a href="/api/admin/dashboard">Dashboard</a>
                    </li>
                    <li id="userProfile">
                      <a href="#">&nbsp;Add Employee</a>
                      <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li>
                            <a href="/freshersform">Fresher</a>
                          </li>
                          <li>
                            <a href="/experienceform">Experience</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="uk-navbar-center uk-hidden@m">
                  <a class="uk-navbar-item uk-logo" href="index.html">
                    Paperless
                  </a>
                </div>
                <div class="uk-navbar-right">
                  <ul class="uk-navbar-nav uk-visible@m">
                    <li>
                      <div class="uk-navbar-item">
                        <% if(session.role == 1) { %>
                        <a class="uk-button uk-button-primary-outline"
                        href="/api/admin/subadmin">
                          <span data-uk-icon="icon: plus">
                          </span>&nbsp;&nbsp;
                          Create New Admin
                        </a>
                        <% } %>
                      </div>
                    </li>
                    <li id="userProfile">
                      <a href="#">
                        <span data-uk-icon="icon: user"></span>&nbsp;
                        <%= session.email %>
                      </a>
                      <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li>
                            <a id="logout" href="#">
                              <span data-uk-icon="icon: sign-out"></span>
                              Logout
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                  <a class="uk-navbar-toggle uk-hidden@m" 
                    href="#offcanvas" data-uk-toggle>
                    <span data-uk-navbar-toggle-icon></span>
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <% } %>
    <div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
      <div class="uk-offcanvas-bar">
        <a class="uk-logo uk-margin-small-bottom">Paperless</a>
        <button class="uk-offcanvas-close" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-primary uk-margin-top">
          <li>
            <a href="#" id="email12" >
              <span data-uk-icon="icon: user"></span>&nbsp;
              <%= session.email %>
            </a>
          </li>
          <hr />
          <li class="uk-active">
            <a href="/api/admin/dashboard">Dashboard</a>
          </li>
          <li><a href="#">Add Employee</a></li>
          <li>
            <% if(session.role == 1) { %>
            <a href="/api/admin/subadmin"> Create New Admin</a>
            <% } %>
          </li>
          <li><a href="/api/admin/admins">View Admins</a></li>
          <li>
            <a id="sidebarlogout" href="#">
              <span data-uk-icon="icon: sign-out"></span>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%- body %>
    <footer class=" uk-text-center uk-text-muted"></footer>
  </body>
</html>