<div class="uk-section">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card" style="border:1px solid #57C996;">
        <div class="card-body">
          <h3 style="color: #57C996; text-align: center; font-family: 'Pacifico';
           font-size: 45px; font-weight: 100;">
            Paperless
          </h3>
          <p class="tagline">
            <em style="color:grey; ">"Manage your stuff with Paperless."</em>
          </p>
          <hr />  
          <br />
          <form method="POST" id="login" action="/api/admin/login">
            <div class="input-group form-group" id="login-email">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-at"></i></span>
              </div>
              <input
                type="text"
                name="username"
                id="Email"
                autofocus
                tabindex="1"
                class="form-control txt-padding"
                placeholder=" Enter Email"
              />
            </div>
            <div class="input-group form-group" id="login-password">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input
              tabindex="2"
                type="password"
                name="password"
                id="Password"
                class="form-control txt-padding"
                placeholder="Enter Password"
              />
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn login_btn" />
            </div>
          </form>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>