tr th {
  text-align: center;
}

td {
  text-align: center;
}

.eye {
  color: #31353d;
}

.trash {
  color: rgb(216, 70, 70);
}

.searchEmployee {
  padding: .5% .5% .5% 3%;
  width: 25%;
  border-radius: 20px;
  outline: none;
  border: 1px solid #4DC996;
  color: rgb(56, 54, 54);
  margin-left:-3%;
  background: transparent;
  font-size: 1.3vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#searchEmployee:focus {
  box-shadow: 0 0 8px #4DC996!important;
}

.searchEmployee::placeholder {
padding-left: 2%;
}