.panel {
  border:1px solid grey;
}

.panel-header {
  padding: 1.5% 2.5%;  
  background-color: #dddddd;
  border-bottom: 1px solid grey;
}

.panel-header p {
  margin:0;
  padding:0;
  font-size: 11pt;
  color: #31353d;
}

.panel-body {
  padding: 5%;
}

.col-xs-12 label h4, .col-lg-6 label h4 {
  font-weight: 400;
  font-size: 18px;
  margin:0;
}

.col-lg-12 {
  margin:3% 0 0 0!important; 
}

.form-group {
  margin: 0;
}

.col-xs-6 input[type="radio"] {
  color:red;
}

.btn-save {
  margin-left: 2.4%;
}

.toggle-on {
  color: #28A745;
}

.error {
  color: red;
}

@media (max-width: 798px) {
  .nav-tabs li a p {
    font-size: 16px;
  }  
  .col-xs-12 label h4 {
    font-weight: 400;
    font-size: 18px;
    margin:10% 0 0 0;
  }
  .col-xs-12 h4 {
    font-weight: 400;
    font-size: 18px;
    margin:10% 0 0 0;
  }
  .tab-pane .col-xs-12 input {
    font-size: 18px;
  }
  .btn-save {
    width:30%;
    font-size: 18px;
  }

  .col-xs-12 {
    margin:3% 0 0 0!important; 
  }
}
@media (max-width: 656px) {
  .nav-tabs li a p {
    font-size: 14px;
  }  
  .col-xs-12 label h4 {
    font-weight: 400;   
    font-size: 12px;
    margin:10% 0 0 0;
  }
  .col-xs-12 h4 {
    font-weight: 400;
    font-size: 12px;
    margin:10% 0 0 0;
  }
  .tab-pane .col-xs-6 input {
    font-size: 12px;
  }
  .btn-save {
    width:30%;
    font-size: 12px;
    margin-left: 6%;
  }

  .col-xs-12 {
    margin:3% 0 0 0!important; 
  }
  
}