body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
}

.container {
    height: 100%;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    border: 1px #57c996 solid;
    background-color: #ffffff !important;
}

h3 {
    padding-top: 3%;
    color: #57C996;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 35px;
    font-weight: 100;
}

.input-group-prepend span {
    width: 50px;
    background-color: #57c996;
    color: white;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    border: 1px solid #57c996 !important;
    transition: 0.5s ease-in-out;
}

.card-header {
    background-color: transparent;
    text-align: center;
    border: 0;
}

.login_btn {
    color: white;
    background-color: #57c996;
    width: 100%;
    padding: 2.5%;
    border-radius: 35px;
}

.login_btn:hover {
    color: #57c996;
    background-color: transparent;
    border: 1px solid #57c996;
    transition: 0.3s linear;
}

.links {
    color: black;
}

.links a {
    margin-left: 4px;
    color: black;
    padding: 3%;
}

.tagline {
    text-align: center;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}