<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/css/display.css" type="text/css">
<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-h1 uk-text-center">
      <i class="fas fa-dashboard"></i> View Admins
    </h2>
    <p class="uk-text-lead uk-text-center">
      Manage your stuff with Paperless.
    </p>
    <br>
    <% if (successMsg) {%>
      <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible" style="width: 100%;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= successMsg%></strong> 
        </div>
      </div>
    <%}%>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>#No.</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Active Status</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <% if(data){for(let i = 0; i < data.length; i++) {  %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= data[i].firstName %></td>
      <td><%= data[i].lastName%></td>
      <td><%= data[i].email %></td>
      <td><%=	data[i].contact %></td>
      <td>
        <% if (data[i].isActive == true) {%>
          <a href="/api/admin/subAdmin/<%= data[i].id %>/status/0">            
            <span class="fa fa-check fa-lg" id="statusActive"></span>
          </a>
          <% } else { %>
            <a href="/api/admin/subAdmin/<%= data[i].id %>/status/1">
              <span class="fa fa-times fa-lg" id="statusDeactive"></span>
          </a>
        <% }%>
      </td>
      <td>        
        <a onclick="return checkConfirm();" href="/api/admin/subAdmin/<%= data[i].id %>/remove">
          <span class="fa fa-trash fa-lg" id="delete"></span>
        </a>
      </td>
    </tr>
    <% }
    }%>
    </form>
    </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      "scrollX": true
    });
  });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>